

.minigames-container {
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: table-row-group;
}



.minigames-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.minigames-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 10px;
}

.minigames-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px;
    position: relative;
}

.minigames-image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minigames-image img {
    max-width: 100%;
    max-height: 100%;
}

.minigames-button {
    background-color: #6a6a6a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    cursor: pointer;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.minigames-button:hover {
    background-color: #555555;
}
