<div id="screen-brand">
        <h1>Бренды</h1>
        <div class="add-button">
            <img src="icons/add-icon.png" alt="Добавить">
        </div>

        <div class="brand">
            <div class="avatar">
                <img src="icons/user-avatar.png" alt="Аватар">
            </div>
            <div class="brand-info">
                <div class="brand-title">Название бренда</div>
                <div class="level">7 ур.</div>
            </div>
            <div class="participants">Участники:<br>10/10</div>
        </div>

        <div class="brand">
            <div class="avatar">
                <img src="icons/user-avatar.png" alt="Аватар">
            </div>
            <div class="brand-info">
                <div class="brand-title">Название бренда</div>
                <div class="level">7 ур.</div>
            </div>
            <div class="participants">Участники:<br>10/10</div>
        </div>

        <div class="brand">
            <div class="avatar">
                <img src="icons/user-avatar.png" alt="Аватар">
            </div>
            <div class="brand-info">
                <div class="brand-title">Название бренда</div>
                <div class="level">7 ур.</div>
            </div>
            <div class="participants">Участники:<br>10/10</div>
        </div>
    </div>
</body>