<div class="screen-brand">
    <div class="exit-icon">
      <a href="#main">
        <img src="/static/icons/back.jpg" alt="exit-icon">
      </a>
    </div>
    <div class="profile-container">
      <div class="profile-circle"></div>
      <div class="profile-edit">Изм.</div>
    </div>
    <div class="brand-header">
      <span id="brand-name">Название бренда</span><span class="edit">Изм.</span>
    </div>
    <div class="description">
      <span id="brand-description">Описание</span><span class="edit">Изм.</span>
    </div>
    <div class="progress-container">
      <div class="progress-circle">
        <span class="two-text">2</span>
      </div>
      <div class="progress-track">
        <div class="progress-fill"></div>
      </div>
    </div>
    <div class="stats-wrapper">
      <div class="text-container">
        <span><div class="color-dot green-dot"></div> Репутация - <span id="reputation-value"></span></span>
        <span><div class="color-dot purple-dot"></div> Рентабельность - <span id="profitability-value"></span></span>
        <span><div class="color-dot yellow-dot"></div> Инновативность - <span id="innovation-value"></span></span>
      </div>
      <div class="progress-bars">
        <div class="stat-bar">
          <div class="fill green-fill" id="reputation-bar"></div>
        </div>
        <div class="stat-bar">
          <div class="fill purple-fill" id="profitability-bar"></div>
        </div>
        <div class="stat-bar">
          <div class="fill yellow-fill" id="innovation-bar"></div>
        </div>
      </div>
    </div>
    <div class="roles" id="roles-container">
    </div>
  </div>