<div class="screen-create-brand">
    <div class="container">
        <div class="header">
            <div class="subheader">
                <div class="back-button" onclick="window.location.hash = '#list-brand'">
                    <img src="/static/icons/back.jpg" alt="Назад">
                </div>
                <h1>Создание бренда</h1>
            </div>
        </div>

        <div class="logo-container">
            <input type="file" id="logo-input" accept="image/*" style="display: none;">
            <div onclick="document.getElementById('logo-input').click()">
                <img id="logo-preview" src="/static/icons/brand.png" alt="Загрузить логотип">
            </div>
            <div class="logo-label">Нажмите для загрузки логотипа</div>
        </div>

        <div class="input-container">
            <input type="text" id="brand-name" placeholder="Введите название бренда">
            <input type="text" id="brand-description" placeholder="Опишите ваш бренд">
        </div>

        <button id="create-brand-btn" class="button">Создать бренд</button>
    </div>
</div>
