
    <div class="screen-display">
        <div class="display">Показ</div>
        
        <div class="main-container">
            <div class="show-header">
                <img src="icons/MC display.png" alt="Alexander McQueen Show">
            </div>
            <div class="show-card">
                <div class="content">
                    <div class="brand-header">
                        <span>Alexander<br>McQueen</span>
                        <img class="brand-logo" src="icons/logo 1.png" alt="McQueen Logo">
                    </div>
                    <div class="description">Весна-лето Париж<br>2025</div>
                    <div class="info">
                        <div class="info-item">
                            <img src="icons/open castle.png" alt="Требования">
                            <span>Требования: Уровень 5</span>
                        </div>
                        <div class="info-item">
                            <img src="icons/watch.png" alt="Время участия">
                            <span>Время участия: Активно<br>(осталось 20 минут)</span>
                        </div>
                    </div>
                    <button class="participate-btn">Участвовать</button>
                </div>
            </div>
            
            <div class="show-header">
                <img src="icons/RIC display.png" alt="Rick Owens Show">
            </div>
            <div class="show-card">
                <div class="content">
                    <div class="brand-header">
                        <span>Rick Owens</span>
                        <img class="brand-logo" src="icons/logo 2.png" alt="Owens Logo">
                    </div>
                    <div class="description">Весна-лето Париж<br>2025</div>
                    <div class="info">
                        <div class="info-item">
                            <img src="icons/castle.png" alt="Разблокируется">
                            <span>Разблокируется на уровне 10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
