<!-- footer.html -->
<div class="bottom-nav" id="footer-area">
    <a href="#main" class="main footer-item" data-page="main">
        <div class="icon-container">
            <img src="/static/icons/main.png" alt="Профиль">
        </div>
    </a>
    <a href="#brand" class="brand footer-item" data-page="brand">
        <div class="icon-container">
            <img src="/static/icons/home.png" alt="Бренды">
        </div>
    </a>
    <a href="#news" class="news highlight footer-item" data-page="news">
        <div class="icon-container">
            <img src="/static/icons/news.png" alt="Новости">
        </div>
        <span>Новости</span>
    </a>
    <a href="#menu" class="menu footer-item" data-page="menu">
        <div class="icon-container">
            <img src="/static/icons/menu.png" alt="Меню">
        </div>
    </a>
    <a href="#friends" class="friends footer-item" data-page="friends">
        <div class="icon-container">
            <img src="/static/icons/friends.png" alt="Друзья">
        </div>
    </a>
</div>

<script>
    const footerButtons = document.querySelectorAll('.bottom-nav a');

    footerButtons.forEach(button => {
        button.addEventListener('click', (e) => {
            // Убираем preventDefault()

            // Удалить "active" у всех
            footerButtons.forEach(btn => btn.classList.remove('active'));

            // Дать "active" текущей
            button.classList.add('active');
        });
    });
</script>