<!-- /templates/friends.html -->
<div id="screen-friends" class="container">
    <div class="friends-wrapper">
        <div class="friends-container">
            <div class="header">Друзья</div>
            <div class="content">
                <div class="info">
                    <img src="/static/icons/megaphone-icon.png" alt="Share">
                    <span>Делись своей реферальной ссылкой</span>
                </div>
                <div class="info">
                    <img src="/static/icons/gift-icon.png" alt="Rewards">
                    <span>Играй вместе и получай награды</span>
                </div>
                <div class="info">
                    <img src="/static/icons/percent-icon.png" alt="Percent">
                    <span>Получай 5% от друзей</span>
                </div>
                <a href="#" class="friends-button">Пригласить друга</a>

                <div class="income-title">Доход:</div>
                <div class="income">
                    <div class="item">
                        <img src="/static/icons/user-avatar.png" alt="User">
                        <div class="name">
                            iamwhoq
                            <div class="type">в сети</div>
                        </div>
                        <div class="value">
                            <img src="/static/icons/currency-icon.png" alt="Currency">263
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/icons/user-avatar.png" alt="User">
                        <div class="name">
                            iamwhoq
                            <div class="type">в сети</div>
                        </div>
                        <div class="value">
                            <img src="/static/icons/currency-icon.png" alt="Currency">263
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
