    <div class="minigames-container">
        <div class="minigames-title">Мини-игры</div>
        <div class="minigames-grid">
            <!-- Карточка игры 1 -->
            <div class="minigames-card">
                <div class="minigames-image">
                    <img src="../static/icons/game1.png" alt="FCK_CLICKER">
                </div>
                <button class="minigames-button">Играть!</button>
            </div>

            <!-- Карточка игры 2 -->
            <div class="minigames-card">
                <div class="minigames-image">
                    <img src="game2.png" alt="Игра 2">
                </div>
                <button class="minigames-button">Играть!</button>
            </div>

            <!-- Карточка игры 3 -->
            <div class="minigames-card">
                <div class="minigames-image">
                    <img src="game3.png" alt="Игра 3">
                </div>
                <button class="minigames-button">Играть!</button>
            </div>

            <!-- Карточка игры 4 -->
            <div class="minigames-card">
                <div class="minigames-image">
                    <img src="game4.png" alt="Игра 4">
                </div>
                <button class="minigames-button">Играть!</button>
            </div>
        </div>
    </div>