<!-- templates/menu.html -->
<div class="sections-container">
    <div class="menu-item">
        <div class="text">
            <p class="title">Магазин</p>
            <p class="description">Шоппинг зовет!</p>
        </div>
        <div class="icon">
            <img src="/static/icons/shop.png" alt="Магазин">
        </div>
    </div>
    <div class="menu-item">
        <div class="text">
            <p class="title">Мини-игры</p>
            <p class="description">Играй и получай призы</p>
        </div>
        <div class="icon">
            <img src="/static/icons/mini-games.png" alt="Мини-игры">
        </div>
    </div>
    <div class="menu-item">
        <div class="text">
            <p class="title">Обмен</p>
            <p class="description">Обнови гардероб, не тратя глэмов</p>
        </div>
        <div class="icon">
            <img src="/static/icons/exchange.png" alt="Обмен">
        </div>
    </div>
    <div class="menu-item">
        <div class="text">
            <p class="title">Показ</p>
            <p class="description">Стань иконой моды</p>
        </div>
        <div class="icon">
            <img src="/static/icons/display.png" alt="Показ">
        </div>
    </div>
</div>
