<!-- templates/unsupported.html -->
<div class="container">
    <div class="logo">FCK FSH</div>
    <div class="warning">
        <div class="warning-content">
            <img class="warning-icon" src="/static/icons/warningload.png" alt="Warning">
            <div class="warning-text">
                <div class="title">Не удалось запустить игру.</div>
                <div class="subtitle">К сожалению, наше приложение не поддерживает ваше устройство.</div>
            </div>
        </div>
        <img class="qr-code" src="/static/icons/qr.png" alt="QR Code">
    </div>
</div>
<script type="module" src="/static/js/pages/unsupported.js"></script>
